@tailwind base;
@tailwind components;
@tailwind utilities;




strong {
  @apply font-semibold
}

input {
  caret-color: black;
}

#advantagesDiv {
  margin: 0 auto;
  padding: 30px;
  border: 2px solid rgba(130, 87, 230, 0.49);

  box-shadow: -1px 1px 21px -2px rgba(130, 87, 230, 0.49), -1px 1px 21px -2px rgba(130, 87, 230, 0.49) inset;
  -webkit-box-shadow: -1px 1px 21px -2px rgba(130, 87, 230, 0.49), -1px 1px 21px -2px rgba(130, 87, 230, 0.49) inset;
  -moz-box-shadow: -1px 1px 21px -2px rgba(130, 87, 230, 0.49), -1px 1px 21px -2px rgba(130, 87, 230, 0.49) inset;
}

#advantagesDiv button {
  padding: .5em;
  margin: 20px;
  height: 55px;
  /* width: 282px; */
  min-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

#advantagesDiv button {
  @apply transition delay-100 ease-in-out hover:scale-105 hover:shadow-lg hover:shadow-gray-900 dark:bg-slate-300 bg-slate-300
}

#advantagesDiv button img {
  max-width: 50px;
  color: black;
}

#footer {
  border-radius: 8px 8px 0px 0;
  border-left: 1px solid rgba(130, 87, 230, 0.49);
  border-top: 1px solid rgba(130, 87, 230, 0.49);
  border-right: 1px solid rgba(130, 87, 230, 0.49);
  box-shadow: -1px 1px 21px -2px rgba(130, 87, 230, 0.49), -1px 1px 21px -2px rgba(130, 87, 230, 0.49) inset;
  -webkit-box-shadow: -1px 1px 21px -2px rgba(130, 87, 230, 0.49), -1px 1px 21px -2px rgba(130, 87, 230, 0.49) inset;
  -moz-box-shadow: -1px 1px 21px -2px rgba(130, 87, 230, 0.49), -1px 1px 21px -2px rgba(130, 87, 230, 0.49) inset;
}